<?php echo $this->doctype('XHTML1_STRICT');?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <?php echo $this->headMeta();?>
    <?php echo $this->headTitle();?>

   <!-- Le styles -->
    <?php $this->headLink()->appendStylesheet($this->baseUrl() . '/css/bootstrap.css', 'screen');?>

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .offset-right {
            margin-right: 10px;
        }

        .optional{padding-left:10px;}

        ul.wysihtml5-toolbar {
            margin: 0;
            padding: 0;
            display: block;
        }

        ul.wysihtml5-toolbar::after {
            clear: both;
            display: table;
            content: "";
        }

        ul.wysihtml5-toolbar > li {
            float: left;
            display: list-item;
            list-style: none;
            margin: 0 5px 10px 0;
        }

        ul.wysihtml5-toolbar a[data-wysihtml5-command=bold] {
            font-weight: bold;
        }

        ul.wysihtml5-toolbar a[data-wysihtml5-command=italic] {
            font-style: italic;
        }

        ul.wysihtml5-toolbar a[data-wysihtml5-command=underline] {
            text-decoration: underline;
        }

        ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
            background-image: none;
            -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
            background-color: #E6E6E6;
            background-color: #D9D9D9;
            outline: 0;
        }

        ul.wysihtml5-commands-disabled .dropdown-menu {
            display: none !important;
        }

        ul.wysihtml5-toolbar div.wysihtml5-colors {
            display:block;
            width: 50px;
            height: 20px;
            margin-top: 2px;
            margin-left: 5px;
            position: absolute;
            pointer-events: none;
        }

        ul.wysihtml5-toolbar a.wysihtml5-colors-title {
            padding-left: 70px;
        }

        ul.wysihtml5-toolbar div[data-wysihtml5-command-value="black"] {
            background: black !important;
        }

        ul.wysihtml5-toolbar div[data-wysihtml5-command-value="silver"] {
            background: silver !important;
        }

        ul.wysihtml5-toolbar div[data-wysihtml5-command-value="gray"] {
            background: gray !important;
        }

        ul.wysihtml5-toolbar div[data-wysihtml5-command-value="maroon"] {
            background: maroon !important;
        }

        ul.wysihtml5-toolbar div[data-wysihtml5-command-value="red"] {
            background: red !important;
        }

        ul.wysihtml5-toolbar div[data-wysihtml5-command-value="purple"] {
            background: purple !important;
        }

        ul.wysihtml5-toolbar div[data-wysihtml5-command-value="green"] {
            background: green !important;
        }

        ul.wysihtml5-toolbar div[data-wysihtml5-command-value="olive"] {
            background: olive !important;
        }

        ul.wysihtml5-toolbar div[data-wysihtml5-command-value="navy"] {
            background: navy !important;
        }

        ul.wysihtml5-toolbar div[data-wysihtml5-command-value="blue"] {
            background: blue !important;
        }

        ul.wysihtml5-toolbar div[data-wysihtml5-command-value="orange"] {
            background: orange !important;
        }

    </style>

    <?php $this->headLink()->appendStylesheet($this->baseUrl() . '/css/bootstrap-responsive.css', 'screen'); ?>
    <?php $this->headLink()->appendStylesheet($this->baseUrl() . '/css/datepicker.css', 'screen');?>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/js/jquery.js"></script>
    <script src="/js/wysihtml5-0.3.0.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>

    <script src="/js/bootstrap-dropdown.js"></script>

    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-wysihtml5.js"></script>

    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>

    <!-- Le fav and touch icons -->

<?php echo $this->headLink();?>


</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Sws Admin Panel</a>
            <div class="nav-collapse">

            <?php if ($this->identity): ?>

                    <ul class="nav pull-right">
                        <li class="active" style="margin-top: 9px;">Здравствуйте, администратор</li>
                        <li class="divider-vertical"></li>
                        <li><a href="/index/logout">Выход</a></li>
                    </ul>

            <?php else: ?>

                    <ul class="nav pull-right">
                        <li><a href="/user/login">Вход</a></li>
                    </ul>

            <?php endif; ?>
            </div><!--/.nav-collapse -->
       </div>
    </div>
</div>

<div class="container">
<!-- menu for logged user -->
 <?php if ($this->identity): ?>
    <?php if (Zend_Auth::getInstance()->getIdentity()->role == 'admin'):?>

    <ul class="nav nav-tabs">


        <li <?php if ($this->tab == 'news') echo 'class="active"'; ?>>
            <a href="/user/news">Новости</a>
        </li>
        <li <?php if ($this->tab == 'promo') echo 'class="active"'; ?>>
            <a href="/user/promo">Вакансии</a>
        </li>
        <li <?php if ($this->tab == 'flats') echo 'class="active"'; ?>>
            <a href="/user/flats">Продукты</a>
        </li>
        <li <?php if ($this->tab == 'statics') echo 'class="active"'; ?>>
            <a href="/user/statics">Статические страницы</a>
        </li>

    </ul>
    <?php endif; ?>
<?php endif; ?>


    <?php if(isset($this->title)): ?><h2 style="float:left;"><?php echo $this->title; ?></h2><?php endif;?>
    <?php echo $this->layout()->content; ?>


    <!-- Main hero unit for a primary marketing message or call to action -->
<hr/>

    <footer>
        <p>&copy; Company 2012</p>
    </footer>

</div> <!-- /container -->

<script>


</script>
</body>
</html>
