<?php echo $this->doctype('XHTML1_STRICT');?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<?php echo $this->headMeta();?>
		<?php echo $this->headTitle();?>

        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="css/slider.css" rel="stylesheet">
        <link href="css/box.css" rel="stylesheet">

		<?php $this->headLink()->appendStylesheet(
		$this->baseUrl() . 'css/style.css', 'screen'
		); ?>
		<?php $this->headLink()->appendStylesheet(
			$this->baseUrl() . 'css/slider.css', 'print'
		); ?>
		<?php $this->headLink()->appendStylesheet(
			$this->baseUrl() . 'css/box.css', 'screen', 'IE'
		); ?>



		<?php echo $this->headLink();?>
		<script type="text/javascript" src="/js/jquery.js"></script> 
		<script type="text/javascript" src="/js/slider.js"></script>

        <script type= "text/javascript">

            function makeScrollable(wrapper, scrollable) {
                var wrapper = $(wrapper), scrollable = $(scrollable);
                scrollable.hide();
                var loading = $('<div class="loading">Загрузка...</div>').appendTo(wrapper);

                var interval = setInterval(function () {
                    var images = scrollable.find('img');
                    var completed = 0;

                    images.each(function () {
                        if (this.complete) completed++;
                    });

                    if (completed == images.length) {
                        clearInterval(interval);
                        setTimeout(function () {

                            loading.hide();
                            wrapper.css({ overflow: 'hidden' });

                            scrollable.slideDown('slow', function () {
                                enable();
                            });
                        }, 1000);
                    }
                }, 100);

                function enable() {
                    var inactiveMargin = 99;
                    var wrapperWidth = wrapper.width();
                    var wrapperHeight = wrapper.height();
                    var scrollableHeight = scrollable.outerHeight() + 2 * inactiveMargin;

                    var tooltip = $('<div class="sc_menu_tooltip"></div>')
                            .css('opacity', 0)
                            .appendTo(wrapper);

                    scrollable.find('a').each(function () {
                        $(this).data('tooltipText', this.title);
                    });

                    scrollable.find('a').removeAttr('title');
                    scrollable.find('img').removeAttr('alt');

                    var lastTarget;
                    wrapper.mousemove(function (e) {
                        lastTarget = e.target;

                        var wrapperOffset = wrapper.offset();

                        var tooltipLeft = e.pageX - wrapperOffset.left;
                        tooltipLeft = Math.min(tooltipLeft, wrapperWidth - 75);

                        var tooltipTop = e.pageY - wrapperOffset.top + wrapper.scrollTop() - 40;
                        if (e.pageY - wrapperOffset.top < wrapperHeight / 2) {
                            tooltipTop += 80;
                        }
                        tooltip.css({ top: tooltipTop, left: tooltipLeft });

                        var top = (e.pageY - wrapperOffset.top) * (scrollableHeight - wrapperHeight) / wrapperHeight - inactiveMargin;
                        if (top < 0) {
                            top = 0;
                        }
                        wrapper.scrollTop(top);
                    });

                    var interval = setInterval(function () {
                        if (!lastTarget) return;

                        var currentText = tooltip.text();

                        if (lastTarget.nodeName == 'IMG') {
                            var newText = $(lastTarget).parent().data('tooltipText');

                            if (currentText != newText) {
                                tooltip
                                        .stop(true)
                                        .css('opacity', 0)
                                        .text(newText)
                                        .animate({ opacity: 1 }, 1000);
                            }
                        }
                    }, 200);

                    wrapper.mouseleave(function () {
                        lastTarget = false;
                        tooltip.stop(true).css('opacity', 0).text('');
                    });
                }
            }

            $(function () {
                makeScrollable("div.sc_menu_wrapper", "div.sc_menu");
            });</script>

        <script src="js/box.js"></script>
        <script>
            $(document).ready(function () {
                $(".youtube").colorbox({ iframe: true, innerWidth: 1000, innerHeight: 500 });

                $("#click").click(function () {
                    $('#click').css({ "background-color": "#f00", "color": "#fff", "cursor": "inherit" }).text("Open this window again and this message will still be here.");
                    return false;
                });
            });
        </script>
	
	</head>

    <body class="wrapper">
    <div style="background: rgb(0, 0, 0)">
        <div id="header">
            <a href="#" title="Home"><img src="images/logo.png" width="120px" height="120px" style="float: left"></a>
            <ul id="menu">
                <li class="border">
                    <a href="#">Games</a>
                </li>
                <li class="border">
                    <a href="#">Community</a>
                    <ul>
                        <li><a href="#">Example1</a></li>
                        <li><a href="#">Example2</a></li>
                    </ul>
                </li>
                <li class="border">
                    <a href="#">Management</a>
                </li>
                <li class="border">
                    <a href="#">Company</a>
                </li>
                <li class="border" style="border-right: 2px solid #d2d1d2;">
                    <a href="#">Jobs</a>
                </li>
            </ul>
            <div class="facebook border">
                <a href="#" title="facebook"><img src="images/facebook.png"></a>
            </div>
            <div class="twitter border">
                <a href="#" title="twitter"><img src="images/twitter.png"></a>
            </div>
        </div>

        <div class="content">
            <div class="firstSlider">
                <div class="carousel slide slider" id="myCarousel">
                    <div class="carousel-inner">

                            <?php foreach($this->flats as $key=>$fl):?>
                                <div class="<?php if($key == 1): echo 'active '; endif ?>item">
                                    <img src="<?php echo '/images/upload/'.$fl->photo;?>"/>
                                    <div class="carousel-caption">
                                        <h4><?php echo $fl->description;?></h4>
                                        <p><a href="#"><?php echo $fl->title;?></a></p>
                                    </div>
                                </div>
                            <?php endforeach?>



                    </div>
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>

            <div style="clear:both">
                <div class="secondSlider">
                    <div class="carousel slide slider" id="Carousel">
                        <div class="carousel-inner">

                            <?php foreach($this->news as $key=>$n):?>
                            <div class="<?php if($key == 0): echo 'active '; endif ?>item">
                                <img src="<?php echo '/images/upload/'.$n->picture;?>"/>
                                <div class="carousel-caption">
                                    <p><?php echo $n->description;?></p>
                                    <p><a href="#">read more</a></p>
                                </div>
                            </div>
                            <?php endforeach?>

                        </div>
                        <a class="carousel-control left" href="#Carousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#Carousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>

                <div class="sc_menu_wrapper">
                    <div class="sc_menu">
                        <a class='youtube' href="http://www.youtube.com/v/VOJyrQa_WR4?rel=0&amp;wmode=transparent"><img src="images/youtube/1.jpg"/></a>
                        <a class='youtube' href="#"><img src="images/youtube/2.jpg"/></a>
                        <a class='youtube' href="#"><img src="images/youtube/3.jpg"/></a>
                        <a class='youtube' href="#"><img src="images/youtube/4.jpg"/></a>
                        <a class='youtube' href="#"><img src="images/youtube/5.jpg"/></a>
                        <a class='youtube' href="#"><img src="images/youtube/1.jpg"/></a>
                        <a class='youtube' href="#"><img src="images/youtube/2.jpg"/></a>
                        <a class='youtube' href="#"><img src="images/youtube/3.jpg"/></a>
                        <a class='youtube' href="#"><img src="images/youtube/4.jpg"/></a>
                        <a class='youtube' href="#"><img src="images/youtube/5.jpg"/></a>
                        <a class='youtube' href="#"><img src="images/youtube/1.jpg"/></a>
                        <a class='youtube' href="#"><img src="images/youtube/2.jpg"/></a>
                        <a class='youtube' href="#"><img src="images/youtube/3.jpg"/></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="#footer" style="clear:both">
            <a href="#" style="clear:both"><img src="images/footer.PNG" height="57" width="198" title="Home"/></a>
        </div>
    </div>
    </body>
</html>
