html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}
table {
    border-collapse: collapse; 
    border-spacing: 0; 
}
td, th, caption {
    font-weight: normal;
    text-align: left; 
}
img, fieldset {
    border: 0;
}
ol {
    padding-left: 1.4em; 
    list-style: decimal; 
}
ul {
    padding-left: 1.4em; 
    list-style:square; 
}
q:before, q:after {
    content:''; 
}

.wrapper{
	width: 1300px;
    height: auto;
	margin: 0 auto;
	background:
        url(../images/1.png) 0% 0% repeat-y,
        url(../images/2.png) 100% 0% repeat-y,
        #000;
}
.border
{
    border-left: 2px solid #d2d1d2;
}

#header
{
    width: 1300px;
    height: auto;
}
    #menu {
	    padding: 0;
	    margin: 0;
	    font-size: 100%;
	    font-family: Georgia;
        width: auto;
        height: 120px;
        float: left;
    }
        #menu li {
	        list-style: none;
	        float: left;
	        height: 70px;
	        padding: 0;
	        margin: 0;
	        width: 120px;
	        text-align: center;
	        background: #000;
	        position: relative;
	        padding-top: 50px;
        }
        #menu li ul {
	        list-style: none;
	        padding: 0;
	        margin: 0;
	        width: 120px;
	        display: none;
	        position: absolute;
	        left: 0;
	        top: 120px;
	        z-index: 1;
        }
        #menu li ul li {
	        float: none;
	        height: 10px;
	        margin: 0;
	        width: 120px;
	        padding: 10px 0;
	        text-align: center;
	        background: #7F7F7F;
	        z-index: 1;
        }
        #menu li a {
	        display: block;
	        width: 120px;
	        height: 33px;
	        color: #fff;
	        text-decoration: none;
	        z-index: 1;
        }
        #menu li:hover ul, 
        #menu li.jshover ul {
	        display: block;
        }
        #menu li:hover{
	        background: url(../images/botton.png);
        }
        #menu li.jshover {
	        background: #424242;
        }
    .facebook{
	    float: right;
	    width: 120px;
	    height: 120px;

    }
    .twitter{
	    float: right;
	    width: 120px;
	    height: 120px;
    }
.content
{
    clear: both;
    width: 1300px;
    height: auto;
}
    .firstSlider{
	    width: 1300px;
    }
    .secondSlider{
	    float: left;
	    width: 1100px;
    }
#footer
{
    clear: both;
    width: 1300px;
    height: 57px;
    background: #000;
}



            div.sc_menu_wrapper {
	            position: relative; 	
	            height: 450px;
	            width: 180px;
	
	            margin-top: -15px;
	            overflow: auto;

                float: right;
            }
            div.sc_menu {
	            padding: 15px 0;
            }
            .sc_menu a {
	            display: block;
	            margin-bottom: 5px;
	            width: 176px;
	
	            border: 2px rgb(79, 79, 79) solid;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;		
	
	            color: #fff;
	            background: rgb(79, 79, 79);	
            }
            .sc_menu a:hover {
	            border-color: rgb(130, 130, 130);
	            border-style: dotted;
            }
            .sc_menu img {
	            display: block;
	            border: none;
            }

            .sc_menu_wrapper .loading {
	            position: absolute;
	            top: 50px;
	            left: 10px;
	
	            margin: 0 auto;
	            padding: 10px;

	            width: 100px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;	
	
	            text-align: center;
	            color: #fff;
	            border: 1px solid rgb(79, 79, 79);
	            background: #1F1D1D;
            }
            .sc_menu_tooltip {
	            display: block;
	            position: absolute;
	
	            padding: 6px;
	            font-size: 12px;	
	            color: #fff;
	
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;	
	
	            border: 1px solid rgb(79, 79, 79);
	            background: rgb(0, 0, 0);
	            background: rgba(0, 0, 0, 0.5);
            }