<div class="clearfix"></div>

    <div style="float:left;">
        <?php echo $this->form ?>
    </div>

    <div style="float:left;">

        <?php if(count($this->photos)>0):?>
        <?php endif;?>

        <?php foreach($this->photos as $photo):?>

            <img width=100 src="<?php echo '/images/upload/'.$photo['photo'];?>"></img><br/>
            <a href="<?php echo $this->url(array(
                'controller' => 'user',
                'action'	 => 'deletephoto',
                'photo_id'	=> $photo->photo_id
            ));?>" >Удалить</a><br/><br/>

        <?php endforeach ?>

    </div>

<div class="clearfix"></div>

<script>
    $('#description').wysihtml5();
</script>
