<br/><br/>
<b><?php echo $this->msg ?></b>
<?php if($this->identity):?>
	<p>Вы уже залогинены под именем <?php echo $this->identity->username ?></p>
<?php else: ?>
	<p><?php echo $this->error ?></p>
	<?php echo $this->form; ?>
<?php endif?>
