<?php if (Zend_Auth::getInstance()->getIdentity()->role == 'admin'):?>
<?php endif; ?>

<table class="table table-bordered table-striped">
    <thead>
    <tr >

        <th>Название</th>
        <?php if (Zend_Auth::getInstance()->getIdentity()->role == 'admin'):?>
        <th></th>
        <?php endif; ?>

    </tr>
    </thead>
    <?php if(count($this->paginator)) : ?>

    <?php foreach ($this->paginator as $item): ?>

        <tr>
            <td><?php echo $item['name'] ?></td>
            <?php if (Zend_Auth::getInstance()->getIdentity()->role == 'admin'):?>
            <td width=20% style="vertical-align:middle;">
                <a  href="/user/addstatic/id/<?php echo $item['id']; ?>" class="btn btn-mini  btn-success" type="button">Редактировать</a>
            </td>
            <?php endif; ?>
        </tr>
        <?php endforeach?>
    <?php else: ?>
    <tr>
        <td colspan=32 style="text-align: center;"> Нет данных</td>
    </tr>

    <?endif;?>
</table>


<?php if(count($this->paginator)) : ?>
<div align="left"><?php echo $this->paginationControl($this->paginator,'Sliding','partials/my_paginator.phtml'); ?></div>
<?php endif; ?>
