<?php if ($this->pageCount>1): ?>
<div class="pagination">
    <ul>
<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
  <li><a href="<?php echo $this->url(array('page' => $this->previous)); ?>">Пред</a></li>
<?php else: ?>
  <!--&larr;&nbsp;<span class="disabled">Ранее</span> |-->
<?php endif; ?>

<!-- Numbered page links -->
<?php foreach ($this->pagesInRange as $page): ?>
  <?php if ($page != $this->current): ?>
    <li><a href="<?php echo $this->url(array('page' => $page)); ?>">
        <?php echo $page; ?></a> </li>
  <?php else: ?>
    <li class="active">
      <a href="<?php echo $this->url(array('page' => $page)); ?>"><?php echo $page; ?> </a>
    </li>
  <?php endif; ?>
<?php endforeach; ?>

<!-- Next page link -->
<?php if (isset($this->next)): ?>
        <li><a href="<?php echo $this->url(array('page' => $this->next)); ?>">
    След</a></li>
<?php else: ?>
  <!--<span class="disabled">Позже</span>&nbsp;&rarr;-->
<?php endif; ?>
    </ul>
</div>
<?php endif; ?>
